$primary-background: #afc5a5;
$pale-yellow: #f2eec3;
$teal: #53a196;
$gray-blue: #677f7c;
$brown: #5e4835;
$anti-flash-white: #f2f3f4;

body {
  margin-top: 3rem;
  position: relative;
}

#products:before,
#contact:before,
#faqs:before,
#about:before {
  height: 4rem;
  content: '';
  display: block;
}

h1 span {
  display: inline-block;
}

button {
  transition-duration: 0.4s;
}

button:active {
  transform: scale(0.97);
}

#contact {
  margin: 5rem auto;
}

.jumbotron {
  margin-bottom: 0;
}

.nav-item > .active {
  background-color: #e3ecf2;
  border-radius: 0.25rem;
}

.content {
  padding: 5rem 2rem;
  background-color: $primary-background;
}

form {
  padding: 3rem;
  width: 50%;
  margin: auto;
}

.btn-submit {
  background-color: #77a2c2;
  border-color: #5f8db0;
  color: $anti-flash-white;
}

.btn-submit:hover {
  //   background-color: #5f8db0;
  background-color: white;
  color: #77a2c2;
  //   color: $anti-flash-white;
}

.btn-submit:active {
  //   background-color: #77a2c2;
  //   border-color: #5f8db0;
  //   color: $anti-flash-white;
  background-color: white;
  color: #77a2c2;
}

.card-deck-custom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.5rem;
  padding-top: 0;
}

.product-card {
  width: 30%;
}

#faqs {
  padding-bottom: 2rem;
  width: 80%;
}

#about {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  background-color: #a1b1b8;
  text-align: center;
  padding: 0.75rem 0;
}

footer > div {
  padding: 0.25rem 0;
}

footer .fab {
  transition-duration: 0.2s;
  font-size: 3rem;
  padding: 0.3rem;
  color: #a74b3f;
}

footer .fab:hover {
  color: darken(#a74b3f, 5%);
}

footer .fab:active {
  transform: scale(0.97);
}

@media only screen and (max-width: 992px) {
  #features h2 {
    font-size: 3rem;
  }

  .left-content,
  .center-content,
  .right-content {
    padding: 5rem;
    background-color: #afc5a5;
  }

  .center-content {
    background-color: white;
  }

  .content {
    padding: 0;
  }

  .content > .row {
    margin: 0;
  }

  .card-deck-custom {
    padding: 1rem;
    padding-top: 0;
  }

  .product-card {
    width: 70%;
    margin: 2rem;
  }

  form {
    width: 80%;
  }

  .btn-submit,
  .btn-submit:hover,
  .btn-submit:active {
    background-color: #77a2c2;
    border-color: #5f8db0;
    color: $anti-flash-white;
  }
}

@media only screen and (max-width: 576px) {
  form {
    width: 95%;
    padding: 3 rem 1.5rem;
  }

  .card-deck-custom {
    padding: 1rem;
  }

  .card {
    width: 90%;
    margin: 1rem;
  }

  #faqs .card {
    width: 100%;
    margin: 0;
  }

  #faqs {
    width: 95%;
  }

  #about {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  footer .fab {
    font-size: 5rem;
  }
}
