body {
  margin-top: 3rem;
  position: relative;
}

h2 {
  padding-left: 1rem;
}

#contact {
  margin: 5rem auto;
}

.jumbotron {
  margin-bottom: 0;
}

.nav-item > .active {
  background-color: aliceblue;
  border-radius: 0.25rem;
}

.content {
  padding: 5rem 2rem;
  background-color: #afc5a5;
}

form {
  padding: 3rem;
  width: 50%;
  margin: auto;
}

.btn-primary {
  background-color: #77a2c2;
  border-color: #5f8db0;
}

.btn-primary:hover {
  background-color: #5f8db0;
}

.card-deck-custom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.product-card {
  width: 30%;
}

#faqs {
  padding-bottom: 2rem;
  width: 80%;
}

footer {
  background-color: rgb(179, 153, 153);
}

@media only screen and (max-width: 992px) {
  .left-content,
  .center-content,
  .right-content {
    padding: 5rem;
    background-color: #afc5a5;
  }

  .center-content {
    background-color: white;
  }

  .content {
    padding: 0;
  }

  form {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  form {
    width: 95%;
    padding: 3 rem 1.5rem;
  }

  .card-deck-custom {
    padding: 1rem;
  }

  .card {
    width: 90%;
    margin: 1rem;
  }

  #faqs .card {
    width: 100%;
    margin: 0;
  }

  #faqs {
    width: 95%;
  }
}
